:root {
  --orange: #FF9846;
  --light-gray: #F2F2F2;
  --light-black: #111111;
  --gray: #A4ACAD;
  --dkorange: #F46D40;
  --white: #ffffff;
  --black: #000000;
  --soon: #EB5757;

  --nuni: 'Nunito', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--nuni);
  font-weight: 400;
}

h1, h2, h3, h4, h5, p, figure, aside {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/* common use */
.icon__arrow::after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 1px solid var(--dkorange);
  border-left: 1px solid var(--dkorange);
  transform: rotate(225deg)
}


/* ----------------- Navbar --------------------- */
header {
  padding-left: 1.375rem;
  padding-right: .9375rem;
  font-size: .75rem;
  min-width: 322px;
  border-bottom: 1px solid var(--gray);
}

.nav__list {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list .nav__item:first-child {
  height: 40px;
}

.nav__list .nav__item:last-child {
  height: 30px;
}

.nav__item:nth-child(2),
.nav__item:nth-child(3) {
  text-align: center;
}

.header__phones {
  display: flex;
  flex-direction: column;
}

.header__phones h3 {
  font-size: .75rem;
  line-height: 1.25;
}

.header__phones a {
  text-decoration: none;
  color: var(--orange);
  font-weight: 500;
  line-height: 1;
}

.header__phones a:hover {
  text-decoration: underline;
}

.header__worktime {
  display: flex;
  flex-direction: column;
}

.header__worktime p {
  color: var(--gray);
  font-weight: 500;
}

.header__worktime span {
  display: block;
}

/* ----------------- Home ----------------------- */
main {
  background-color: var(--light-gray);
}
.menu__list {
  padding: 1.25rem .9375rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-flow: dense;
  gap: 0.625rem;
}

.menu__item--wider {
  grid-column: 1 / 3;
}

.menu__item {
  position: relative;
}

.menu__item--soon::after {
  content: "скоро";
  display: block;
  padding: 1px 8px 0 7px;
  position: absolute;
  top: 13px;
  right: 11px;
  color: var(--white);
  font-size: 0.6875rem;
  line-height: 1.24;
  text-transform: uppercase;
  background-color: var(--soon);
  border-radius: .625rem;
}

.menu__item img {
  min-height: 9.6875rem;
  border-radius: 5px;
}

.menu__item div {
  display: block;
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
  color: var(--white);
}

.menu__item .menu__title--bottom {
  top: auto;
  left: 7px;
  bottom: 7px;
}

/* ---- Products ----------- */

.products__container {
  padding: .9375rem 0;
}

.products__container h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.24;
}

.products__container h2::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 1.25rem;
  width: 27px;
  height: 29px;
  background-image: url(./media/svg/SetsIcon.svg);
}

.products__sorting {
  margin: 0 auto;
  padding: .625rem 1.25rem .625rem .5625rem;
  display: flex;
  align-items: center;
  width: 330px;
  background-color: var(--white);
  border-radius: .625rem;
}

.sort__icon {
  position: relative;
  margin-right: .9375rem;
  width: 24px;
  height: 20px;
}

.sort__icon span {
  width: 18px;
  top: 44%;
  left: 0;
}

.sort__icon span,
.sort__icon span::before,
.sort__icon span::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  background-color: var(--orange);
  border-radius: 2px;
}

.sort__icon span::before {
  bottom: 8px;
  left: 0;
  width: 24px;
}

.sort__icon span::after {
  top: 8px;
  left: 0;
  width: 24px;
}

.sort__btn {
  margin-right: auto;
}

.sort__arrow {
  align-self: baseline;
  width: 15px;
  height: 15px;
  border-bottom: .0625rem solid var(--dkorange);
  border-left: .0625rem solid var(--dkorange);
  transform: rotate(-45deg);
}

.cards__list {
  padding: .9375rem 0;
}

.card__item {
  display: grid;
  grid-template-columns:  1.125rem 6.25rem repeat(3, 1fr) .625rem;
  grid-template-rows: 1.125rem repeat(4, 21px) 1.125rem;
  margin: 0 auto;
  width: 20.625rem;
  background-color: var(--white);
  border-radius: .625rem;
}

.card__item:not(:last-of-type) {
  margin-bottom: 0.9375rem;
}

.card__img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: .3125rem;
}

.card__title {
  grid-column: 3 / -1;
  grid-row: 2;
  margin-left: 0.9375rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.24;
}

.card__desc {
  grid-column: 3 / -1;
  grid-row: 3;
  margin-left: 0.9375rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.24;
  color: var(--gray);
}

.card__price {
  grid-column: 3 / 5;
  grid-row: 4/6;
  margin-top: auto;
  margin-left: 0.9375rem;
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.27;
}

.card__btn {
  grid-column: 4 / 6;
  grid-row: 4 / 6 ;
  margin-top: auto;
  margin-left: auto;
  padding: .125rem 1.5625rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.22;
  color: var(--light-gray);
  background-color: var(--dkorange);
  border-radius: .3125rem;
  border: none;
}

.link__product {
  color: #000;
  text-decoration: none;
}

/* ------------------- ProductCards -------------------------- */
.product-card__container {
  margin: 0 auto;
  width: 20.625rem;
}

.link-arrow__wrapper {
  padding: 1rem 0;
}

.link-arrow__wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-size: 1.125rem;
  line-height: 1.24;
}

.link-arrow__wrapper li {
  display: flex;
  align-items: center;
}

.link-arrow__wrapper li:first-of-type span,
.link-arrow__wrapper li:last-of-type span {
  position: relative;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--orange);
}

.link-arrow__wrapper li:first-of-type span {
  margin-right: 0.625rem;
}

.link-arrow__wrapper li:last-of-type span {
  margin-left: 0.625rem;
}

.link-arrow__wrapper span::after {
  content: "";
  position: absolute;
  width: .3125rem;
  height: .3125rem;
  border-bottom: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
}

.link-arrow__wrapper li:first-of-type span::after {
  top: 40%;
  left: 40%;
  transform: rotate(45deg);
}

.link-arrow__wrapper li:last-of-type span::after {
  top: 40%;
  right: 40%;
  transform: rotate(-135deg);
}

.product-card {
   margin-bottom: 3rem;/* Нужно потом убрать */
  padding-bottom: 1.5rem;
  background-color: var(--white);
  border-radius: .9375rem;
}

.product-card article:first-of-type {
  display: grid;
  grid-template-columns: repeat(10, 2.0625rem);
  padding-bottom: 1.875rem;
}

.product-card__title {
  grid-column: 1 / -1;
  margin-bottom: 0.625rem;
  padding: 0 .625rem 0 .875rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.24;
}

.product-card__desc {
  grid-column: 1 / -1;
  margin-bottom: .9375rem;
  padding-left: .875rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--orange);
}

.product-card article:first-of-type img {
  margin: 1.25rem auto;
  margin-bottom: .625rem;
  order: -1;
  grid-column: 1 / -1;
}

.product-card__price {
  grid-column: 1 / 5;
  margin: auto;
  
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.product-card__btn {
  grid-column: 5 / -1;
  margin: auto;
  margin-right: 0.625rem;
  padding: .3125rem 4.0625rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.24;
  color: var(--light-gray);
  background-color: var(--dkorange);
  border: none;
  border-radius: .3125rem;
}

.set-structure {

}

.set-structure__title {
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.24;
}

/* ------------------- Slider ------------------------ */
.carousel {
  display: flex;
  align-items: center;
}

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 231px;
}

.carousel__window {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.all-items__container {
  display: flex;
  height: 100%;
  transition: transform .3s ease-in-out;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.item img {
  margin-bottom: .625rem;
  order: -1;
  border-radius: 50%;
}

.item h5 {
  margin-bottom: 0.625rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.24;
  color: var(--black);
}

.item p {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.carousel .arrow {
  width: 2.375rem;
  height: 2.375rem;
  background-color: var(--light-black);
  border-radius: 50%;
}

.carousel .arrow__back:hover,
.carousel .arrow__next:hover {
  cursor: pointer;
  -webkit-tap-highlight-color:  transparent;
}

.carousel .arrow > div {
  position: relative;
}

.carousel .arrow > div span {
  display: block;
  position: absolute;
  width: .875rem;
  height: .875rem;
  border-bottom: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
}

.carousel .arrow__back > div span {
  top: 11px;
  left: 38%;
  transform: rotate(45deg);
}

.carousel .arrow__next > div span {
  top: 11px;
  right: 38%;
  transform: rotate(-135deg);
} 


/* -------------- About ----------------- */
.about {
  padding: 0 .9375rem;
  padding-bottom: 2rem;
  max-width: 59.375rem;
  height: 11.875rem;
  overflow: hidden; 
  background-color: var(--light-gray);
}

.about__overflow--visible {
  height: auto;
  overflow: visible;
}

.about h1 {
  margin-bottom: 1.25rem;
  color: var(--gray);
  font-weight: 700;
  line-height: 1.25;
}

.about p {
  color: var(--gray);
  font-size: 1.125rem;
  line-height: 1;
  overflow:hidden;
}

.about ul {
  padding-left: 1.5rem;
  list-style-type:disc;
  color: var(--gray);
}

.about__btn {
  padding-top: .625rem;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: var(--dkorange);
  max-width: 950px;
  text-align: center;
  background-color: var(--light-gray);

}

.about__btn:hover {
  cursor: pointer;
}

.about__btn::after {
  margin-left: .625rem;
  vertical-align: top;  
}
/* ----------------- Footer ------------------- */

footer {
  background-color: var(--light-gray);
}

.footer__container {
  margin: 0 auto;
  padding: 0 4.125rem 0 5.125rem;
  max-width: calc(13.25rem + 9.25rem);

}

footer,
footer a {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.24;
  color: var(--gray);
}

footer a:hover {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1.9375rem;
}

.footer__contacts {
  padding-bottom: 1.9375rem;
  text-align: center;
}

.footer__contacts > li:not(:last-child) {
  margin-bottom: 5px;
}

footer h3 {
  margin-bottom: .625rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.24;
}

/* ------------------ Mobile Footer ------------------------- */
.mobile-footer {
  background-color: var(--white);
  border-top: 1px solid var(--gray);
}

.mobile-footer__container {
  margin: 0 auto;
  padding: 0.6875rem 3.5625rem 0.6875rem 4.8125rem;
  max-width: calc(14.125rem + 8.375rem);
}

.mobile-footer__list {
  display: flex;
}

.mobile-footer__list li:not(:last-of-type) {
  margin-right: 2.1875rem;
}

.mobile-footer__list li div {
  display: flex;
  justify-content: center;
}

.mobile-footer__list li div:first-of-type {
  margin-bottom: 0.1875rem;
}

.mobile-footer__list a {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}